Chloe Quinto     
CPE 695     
HW 3    
I pledge my honor that I have abided by the Stevens Honor System - Chloe Quinto

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from keras.utils import to_categorical 
from numpy import array
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

### 1. read in Titanic.csv and observe a few samples, some features are categorical and others are numerical. Take a random 70% samples for training and the rest 30% for test.

In [2]:
df = pd.read_csv('titanic.csv', header = 0)
df.head(10)

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1st,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.337494,B5,Southampton,2,NaN,"St Louis, MO"
1,2,1st,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.550003,C22 C26,Southampton,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1st,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1st,0,"Allison, Mr. Hudson Joshua Crei",male,30.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1st,0,"Allison, Mrs. Hudson J C (Bessi",female,25.0000,1,2,113781,151.550003,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,6,1st,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.549999,E12,Southampton,3,NaN,"New York, NY"
6,7,1st,1,"Andrews, Miss. Kornelia Theodos",female,63.0000,1,0,13502,77.958298,D7,Southampton,10,NaN,"Hudson, NY"
7,8,1st,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.000000,A36,Southampton,NaN,NaN,"Belfast, NI"
8,9,1st,1,"Appleton, Mrs. Edward Dale (Cha",female,53.0000,2,0,11769,51.479198,C101,Southampton,D,NaN,"Bayside, Queens, NY"
9,10,1st,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.504200,NaN,Cherbourg,NaN,22.0,"Montevideo, Uruguay"

In [11]:
df['survived'] = df["survived"].astype(int)

In [12]:
y = df["survived"]

feature_columns = ['pclass', "sex", "age", "sibsp"]
x = df[feature_columns]

In [13]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.3, random_state=None)

In [20]:
xtrain

     pclass     sex   age  sibsp
662     3rd    male  40.0      0
853     3rd    male  25.0      0
738     3rd  female  17.0      0
608     3rd    male  30.0      0
1257    3rd  female   9.0      1
...     ...     ...   ...    ...
198     1st  female  18.0      1
705     3rd    male   NaN      1
709     3rd  female  16.0      0
1019    3rd    male  24.0      0
836     3rd    male  20.0      0

[916 rows x 4 columns]

As a note on random_state: 
    if None, the random number generate is the Random State instance used by np.random

Let's look at the shape of our data

In [17]:
print("xtrain shape: ", xtrain.shape)
print("xtest shape: ", xtest.shape)
print('\n')
print("ytrain shape: ", ytrain.shape)
print("ytest shape: ", ytest.shape)

xtrain shape:  (916, 4)
xtest shape:  (393, 4)


ytrain shape:  (916,)
ytest shape:  (393,)

### 2. Fit a decision tree model using independent variables 'pclass + sex + age + sibsp' and depndent variable 'survived'. Plot the full tree. Male sure 'survived' is a qualitiative variable taking in 1(yes) or 0 (no) into your code

As a note on .fit(), they do not take strings but we can turn the classes into the following

What is One Hot Encoding? 
- a representation of categoricla variables as binary vectors 

For example, if we have the data: 
1st, 2nd, 3rd as the classes on the titanic, we can change it to the following    
[1,0,0] for 1st    
[0,1,0] for 2nd    
[0,0,1] for 3rd

In [36]:
# our columns are ['pclass', "sex", "age", "sibsp"]

pclass = xtrain["pclass"]
pclass = array(pclass)
pclass

#integer encode 
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(pclass)
print(integer_encoded)

[2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 1 2 1 2 0 2 1 2 2 1 0 0 2 2 0 2 0 2 2 2 0 2
 2 2 2 2 1 2 0 2 2 1 1 2 2 0 2 2 2 1 1 0 2 2 0 2 2 2 0 2 0 0 0 0 0 1 2 2 0
 1 1 2 2 2 2 2 0 2 1 2 0 0 2 2 2 2 2 0 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 0
 2 2 2 1 0 0 0 2 0 1 1 2 2 2 2 2 2 0 2 2 1 0 2 0 2 2 0 2 2 2 0 0 1 1 2 2 2
 1 2 2 2 0 0 0 1 0 1 0 2 1 2 2 2 2 2 0 2 2 1 2 2 2 1 1 2 2 0 2 2 0 2 2 0 2
 0 2 1 2 0 2 0 2 1 2 1 2 0 1 1 2 1 2 2 2 2 2 0 1 2 2 0 2 2 0 2 2 1 1 2 1 2
 1 2 2 2 0 1 2 0 2 2 1 2 1 1 2 2 0 2 0 2 1 2 2 0 2 0 1 2 0 1 1 0 1 2 0 2 2
 2 2 2 1 2 2 2 2 0 2 2 2 2 1 0 2 2 1 2 2 1 2 1 2 0 0 2 2 0 2 2 2 2 0 2 0 2
 2 0 0 2 2 2 2 0 1 2 1 2 2 0 1 1 2 0 2 2 1 2 2 2 2 2 0 2 1 2 2 0 2 2 2 1 1
 0 2 0 2 2 0 0 1 0 2 2 1 0 2 2 2 0 0 1 2 1 2 2 1 0 2 2 2 2 1 1 2 2 2 1 1 2
 1 0 0 0 1 2 0 1 1 2 0 0 2 2 2 1 0 0 2 2 0 2 0 0 2 2 2 0 0 0 0 0 2 1 2 0 2
 0 2 1 2 1 2 2 1 1 2 2 0 2 0 2 2 0 0 2 2 2 2 2 1 1 2 2 0 0 2 1 2 0 1 2 2 2
 2 0 2 1 2 0 2 0 1 1 2 0 2 1 0 2 0 0 0 0 0 2 2 2 0 2 1 2 1 0 1 0 2 2 1 0 0
 1 2 1 2 1 0 0 2 1 2 1 2 1 1 2 2 2 2 1 1 2 1 1 2 1 2 2 1 1 2 2 1 1 2 2 0 2
 1 2 2 2 0 1 0 1 2 2 2 1 2 1 2 2 1 2 2 2 0 2 1 2 1 0 2 2 0 2 2 2 2 1 2 2 2
 0 2 1 0 0 2 2 1 2 2 2 2 0 0 0 2 2 0 0 2 2 2 1 0 1 0 2 2 0 1 2 2 1 2 2 0 1
 2 2 2 2 1 2 1 2 1 2 0 1 0 2 1 2 0 1 0 0 2 2 2 2 0 2 1 1 2 0 2 1 2 2 2 0 2
 2 2 0 2 2 2 2 2 2 1 0 2 0 2 2 2 2 0 2 0 2 1 0 0 2 2 1 0 2 0 2 2 2 2 2 0 1
 2 1 0 2 0 0 2 2 0 2 2 2 2 2 2 2 2 2 2 1 2 2 2 1 0 0 2 2 1 0 0 2 2 1 2 2 0
 0 2 2 1 2 0 2 2 0 2 2 1 1 0 2 2 0 2 1 0 2 1 1 0 1 2 0 2 0 2 1 2 2 2 2 2 2
 0 1 0 0 1 1 0 0 2 1 0 0 2 2 0 1 0 2 2 1 2 2 1 2 0 2 2 1 0 0 2 2 2 0 2 2 2
 1 2 2 0 2 2 0 2 2 2 2 1 0 1 0 2 2 0 0 2 2 2 2 0 0 2 0 0 0 0 2 1 2 0 0 2 2
 1 2 0 1 1 1 2 2 0 2 0 2 0 2 2 2 2 0 0 1 0 2 0 0 2 0 1 2 2 2 1 2 0 2 1 0 1
 0 2 2 1 2 1 0 2 1 2 0 0 0 2 2 0 0 2 1 2 0 2 2 2 2 1 0 2 0 2 2 0 0 2 2 0 1
 0 1 2 1 2 1 1 0 0 1 2 1 2 2 1 1 2 2 0 2 2 0 2 0 2 2 2 2]

In [19]:
# Decision Tree Classifier Object 
clf = tree.DecisionTreeClassifier()

# Train Decision Tree Classifier 
clf = clf.fit(xtrain, ytrain)

# Predict the response for test dataset
y_pred = clf.predict(xtest)

ValueError: could not convert string to float: '3rd'